/* POLICE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


/* COLOR VARIABLE  */
:root {
    --couleur-principale: #1a202c;
    --coleur-secondaire: #57bab7;
    --couleur-titre: #EDF2F7;
    --coleur-alt: #718096;

}

/* GENERAL  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--couleur-principale);
}

/* HEADER  */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}

header .logo{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--couleur-titre);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;
}

header .logo .logo__img {
    width: 50px;
    height: 50px;
    margin: 6px;
}

header nav {
    position: relative;

}

header nav ul {
    position: relative;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    background: var(--coleur-secondaire);
    color: var(--couleur-titre);
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 15px 35px;
    text-decoration: none;
    border-radius:40px ;
}

/* header nav li a:hover {
    color: var(--coleur-secondaire);
} */

/* MAIN SECTOION  */
section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
}

section .contentBox {
    position: relative;
    max-width: 600px;
    z-index: 1000;
}

section .contentBox h2 {
    font-size: 3.75rem;
    color: var(--couleur-titre);
    text-transform:uppercase;
}

section .contentBox p {
    font-size: 1.1rem;
    color: var(--couleur-titre);
}

section .contentBox .countDown{
    display: flex;
    margin: 20px 0;
}
section .contentBox .countDown .time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--couleur-titre);
    margin-right: 20px;
    font-size: 3rem;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: var(--coleur-secondaire);
}

section .contentBox .countDown .time span {
    margin-top: -10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--couleur-principale);

}

section .contentBox a {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: var(--coleur-secondaire);
    color: var(--couleur-titre);
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 15px 35px;
    text-decoration: none;
    border-radius:40px ;
}

section .imgBox img {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-top: 100px;
    z-index: 2;
    pointer-events: none;
}

section .wave{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

/* NEWSLETTER */

.newsletter {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 60px;
    background: var(--couleur-titre);
    z-index: 100000;
    box-shadow: 0 0 0 100vh rgba(49, 39, 71, 0.95);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.newsletter.active {
    visibility: visible;
    opacity: 1;
}

.newsletter .newsletter__title h2{
    font-size: 3rem;
    color: var(--couleur-principale);
}
.newsletter .newsletter__title p{
    font-size: 1.25rem;
    color: var(--couleur-principale);
}
.newsletter .newsletter__form {
    margin-top: 20px;
}
.newsletter .newsletter__form input {
    padding: 10px;
    outline: none;
    width: 300px;
    font-size: 1.125rem;
    border: 1px solid #999;
}

.newsletter .newsletter__form input[type="submit"]{
    padding: 10px;
    outline: none;
    width: 140px;
    color: var(--couleur-titre);
    background: var(--coleur-secondaire);
    border: 1px solid var(--coleur-secondaire);
    letter-spacing: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.newsletter .newsletter__policy{
    margin-top: 10px;
}
.newsletter .newsletter__policy p{
    font-size: 0.75rem;
}
.newsletter .close {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* FOOTER  */

footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy {
    position: absolute;
    /* right: 40px; */
    bottom: 10px;
    color: var(--couleur-titre);
    z-index: 10000;
}

footer .copy a {
    text-decoration: none;
    color: var(--couleur-principale);
}

footer .copy a:hover {
    text-decoration: none;
    color: var(--couleur-principale);
}